@model List<Ostoslista.Models.ShoppingList>

@{
    ViewBag.Title = "Ostoslistat";
}

<h2>Ostoslistat</h2>

<ul class="list-group">
    @foreach (var list in Model)
    {
        <li class="list-group-item">
            @using (Html.BeginForm("Delete", "ShoppingLists", new { id = list.Id }))
            {
                <button class="btn btn-danger btn-xs" onclick="return confirm('Poistetaanko lista?')">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <a href="@Url.Action("Edit", "ShoppingLists", new { id = list.Id })">@list.Name</a>
                <span class="badge">@list.Items.Count</span>
            }
        </li>
    }
</ul>