@model List<Ostoslista.Models.ShoppingList>

@{
    ViewBag.Title = "Ostoslistat";
}

<h2>Ostoslistat</h2>

<ul>
    @foreach (var list in Model)
    {
        <li>
            <a href="@Url.Action("Muokkaa", "Ostoslistat", new { id = list.Id })">@list.Name</a>
            @list.Added
        </li>
    }
</ul>